.deisgn-box{
    width: 100%;
    height: calc(100vh - 3.55rem);
    display: flex;
    flex-direction: column;
    background: #EEF3F5;
    overflow-y: scroll;
    header{
        flex: 0;
        padding:0 1.1rem 1.1rem 1.1rem ;
        box-sizing: border-box;

        .title{
            padding: .625rem;
            font-size: 1.2rem;
        }
        .btn{
            width: 100%;
            margin: .925rem auto 0;
            .png{
                width: 1.25rem;
                height: 1.25rem;
                vertical-align: sub;
            }
        }
    }
    
    main{
        flex: 1;
        width: 100%;
        background-color: #fff;
        padding:0 1.5rem;
        box-sizing: border-box;
        .title{
            padding: 1.2rem 0;
            font-size: 1.2rem;
            .text{
                font-size: 1rem;
            }
            .dressBtn{
                border: 1px solid #000;
                border-radius: .3125rem;
                font-size: .8rem;
                padding: .1875rem .5125rem;
            }
        }
    }
}